body {
    margin: 0;
}

p,
a {
    font-family: Fugaz One;
    color: rgb(140, 140, 140);
    font-size: 25px;
    text-decoration: none;
}

img {
    width: 100%;
}

#background {
    position: absolute;
    left: 15%;
    top: 15%;
    width: 70%;
    height: 70%;
    background-image: url(background.png);
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    z-index: -1;
    margin: auto;
    border-radius: 30px;
    border: solid 1px rgb(56, 56, 56)
}

#banner {
    position: absolute;
    margin: auto;
    left: 20vw;
    width: 50vw;
    background: rgba(256, 256, 256, 0.8);
    z-index: 2;
    border-radius: 30px;
    box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    padding: 5vw;
}


/*Card Styles*/

#songTitle {
    margin: 2vh 0;
    padding: 10px;
    font-family: Fugaz One;
    font-size: 80px;
    color: rgb(255, 102, 102);
}

#bandTitle {
    margin: 2vh 0;
    padding: 10px;
}

#interactionBar {
    margin: 2vh 0;
    padding: 10px;
}

#websiteLink {
    margin: 2vh 0 3vh;
    padding: 10px;
}

.button {
    display: inline-block;
    width: 5vw;
    height: 5vw;
    margin: 10px;
    background-color: rgb(255, 102, 102);
    border-radius: 100vw;
    padding: 10px;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(140, 140, 140);
}


/*Mobile Styles*/

@media only screen and (max-width: 1000px) {
    #background {
        width: 90%;
        height: 90%;
        left: 5%;
        top: 5%;
    }
    #banner {
        width: 80vw;
        left: 10vw;
    }
}
