body {
    margin: 0;
}

p,
a {
    font-family: Fugaz One;
    color: rgb(140, 140, 140);
    font-size: 25px;
    text-decoration: none;
}

img {
    width: 100%;
}

canvas {
    position: absolute;
    z-index: 0;
}

#background {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background-image: url(background.png);
    background-size: cover;
    background-position: center;
    opacity: 1;
    z-index: -2;
    border-radius: 30px;
}

#banner,
#banner2 {
    position: absolute;
    margin: auto;
    left: 20vw;
    width: 50vw;
    background: rgba(256, 256, 256, 0.8);
    z-index: 1;
    border-radius: 30px;
    box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.05);
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 5vw;
    overflow: hidden;
}

#banner2 {
    z-index: -2;
}


/*Card Styles*/

#songTitle {
    margin: 2vh 0;
    padding: 10px;
    font-family: Fugaz One;
    font-size: 80px;
    color: rgb(76, 212, 175);
}

#bandTitle {
    margin: 2vh 0;
    padding: 10px;
}

#interactionBar {
    margin: 2vh 0;
    padding: 10px;
}

#websiteLink {
    margin: 2vh 0 3vh;
    padding: 10px;
}

.button {
    display: inline-block;
    width: 5vw;
    min-width: 50px;
    min-height: 50px;
    height: 5vw;
    margin: 10px;
    background-color: rgb(76, 212, 175);
    border-radius: 100vw;
    padding: 10px;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(140, 140, 140);
}


/*Mobile Styles*/

@media only screen and (max-width: 1000px) {
    #banner,
    #banner2 {
        width: 70vw;
        left: 10vw;
    }
}
