body {
    margin: 0;
}

p,
a {
    font-family: Fugaz One;
    color: rgb(140, 140, 140);
    font-size: 25px;
    text-decoration: none;
}

#banner {
    position: absolute;
    margin: auto;
    left: 25vw;
    width: 50vw;
    background: rgba(256, 256, 256, 0.8);
    z-index: 2;
    border-radius: 30px;
    box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}


/*Card Styles*/

#songTitle {
    margin: 2vh 0;
    padding: 10px;
    font-family: Fugaz One;
    font-size: 80px;
    color: rgb(255, 102, 102);
}

#bandTitle {
    margin: 2vh 0;
    padding: 10px;
}

#interactionBar {
    margin: 2vh 0;
    padding: 10px;
}

#websiteLink {
    margin: 2vh 0 3vh;
    padding: 10px;
}

@media only screen and (max-width: 1000px) {
    #banner {
        width: 80vw;
        left: 10vw;
    }
}
